.photo-grid {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 92px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, minmax(284px, 1fr));
    }
    
}