.header__language {
    color: white;
    font-size: 28px;
    line-height: 1.2;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__language {
        font-size: 18px;
        line-height: calc(20 / 18);
    }
}