.header {
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 56px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
 .header {
    max-width: 928px;
    padding-bottom: 48px;
 }   
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 668px) {
    .header {
        padding-top: 16px;
    }
}