.place__paragraph {
   /* display: block;*/
    color: white;
    margin: 0 0 26px 0;
    font-size: 18px;
    line-height: calc(29 / 18);
}

@media screen and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
        line-height: calc(26 / 16);
    }
}