.intro {
    max-width: 720px;
    margin: 0;
    padding-top: 92px;
    padding-left: 148px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 0 auto;
        max-width: 720px;
        padding-top: 88px;
        padding-bottom: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 668px) {
    .intro {
        margin: 0 auto;
        max-width: 288px;
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
