.place__site {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-content: flex-start;
}

@media screen and (max-width: 668px) {
    .place__site {
        width: 90%;
        margin: 0 auto;
    }
}