.lead__caption {
    color: white;
    margin: 8px 0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 10px;
    line-height: calc(14 / 10);
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 15px;
    }
}