.cover__title {
    color: white;
    font-size: 72px;
    line-height: calc(76 / 72);
    margin: 0 auto 32px;
    width: 560px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: calc(35 / 32);
        width: 250px;
    }
}