.place__header {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__header {
        gap: 32px;
    }
}

@media screen and (min-width: 669px) and (max-width: 1023px){
    .place__header {
        gap: 28px;
    }
}

@media screen and (max-width: 668px) {
    .place__header {
        flex-flow: column;
        margin: 0 auto;
        width: 90%;
    }
}