.place__desc {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place__desc {
        gap: 32px;
    }
}

@media screen and (min-width: 669px) and (max-width: 1023px) {
    .place__desc {
        gap: 28px;
    }
}

@media screen and (max-width: 668px) {
    .place__desc {
        flex-flow: column;
        align-items: center;
    }
}